*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "helvetica neue", "Hiragino Sans GB", "冬青黑", "Microsoft YaHei", "微软雅黑", arial, sans-serif;
    font-size: 14px;
    color: #444;
	background-color: #f6f6f6;
}
.header-bar {
    height: 36px;
    background-color: #f4f4f4;
}
.wrapper {
    position: relative;
    width: 1320px;
    margin: 0 auto;
    overflow: hidden;
}
.header-bar .coll-desc {
    color: #444;
    font-size: 13px;
    line-height: 36px;
    text-align: center;
}
.header-bar .login {
    float: left;
    text-decoration: none;
}
 .header-top {
    height: 100px;
    overflow: hidden;
}
 .header-top .wrapper {
    overflow: initial;
}
 .header-top .logo-area {
    float: left;
    margin-top: 15px;
    overflow: hidden;
}
a {
    color: inherit;
    text-decoration: none;
    outline: 0;
}
 .header-top .logo-area img {
    margin-left: -10px;
}
img {
    display: block;
    border: none;
}
 .header-top .search-area {
    width: 498px;
    margin: 30px 0 0 90px;
    position: relative;
    float: left;
    height: 40px;
    background-color: #FF6434;
    border-radius: 4px;
}
 .header-top .search-area .input-area {
    position: relative;
    float: left;
    width: 396px;
    height: 36px;
    background-color: #fff;
    margin: 2px 0 2px 2px;
    border-radius: 2px 0 0 2px;
    overflow: hidden;
}
 .header-top .search-area .search-btn {
    font-weight: bold;
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
 .header-top .search-area .input-area i {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 16px;
    height: 17px;
    background: url(../../../../picture/search-btn.png) center no-repeat;
    background-size: 16px 17px;
}
 .header-top .search-area .input-area input {
    height: 36px;
    width: 396px;
    padding-left: 36px;
    border: 0;
    color: #bfbfbf;
}
 .header-top .search-area .search-btn {
    font-weight: bold;
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
 .header-top .download-area {
    position: relative;
    top: 15px;
    left: 258px;
    height: 0;
    width: 0;
}
 .tab-area {
    position: relative;
    height: 40px;
    background-color: #fe6434;
}
 .tab-area .wrapper {
    overflow: initial;
}
 .tab-area .cate-area {
    width: 960px;
    height: 40px;
}
 .tab-area .cate-area .cate-item.jxtj {
    width: 220px;
    padding: 0;
    margin-right: 25px;
}
 .tab-area .cate-area .cate-item.active {
    background-color: #584946;
}
 .tab-area .cate-area .cate-item {
    position: relative;
    float: left;
    height: 40px;
    padding: 0 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}
 .tab-area .cate-area .cate-item .cate-rec {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 78px;
    height: 19px;
    background: url( ../../../../picture/jxtj.png) center no-repeat;
    background-size: 78px 19px;
}
 .tab-area .cate-area .cate-item.hot {
    padding-right: 40px;
}
 .tab-area .cate-area .cate-item.new {
    padding-right: 40px;
}
 .tab-area .search-area {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 8px;
    width: 240px;
    height: 24px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}
 .tab-area .search-area i {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    background: url( ../../../../picture/search-btn.png) center no-repeat;
    background-size: 12px 12px;
}
 .tab-area .search-area input {
    width: 218px;
    height: 24px;
    padding-left: 24px;
    border: 0;
    border-radius: 4px;
    font-size: 12px;
    color: #999;
}
.tab-area.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.fluid-left.fixed {
    position: fixed;
    top: 40px;
}
.fluid-left {
    width: 250px;
    float: left;
    margin-top: 15px;
    background-color: white;
}
.item-list-top {
    padding-left: 15px;
    background-color: white;
    line-height: 45px;
}
.item-list-top .left {
    font-size: 20px;
    font-weight: 700;
    color: #FF472B;
}
.item-list-top .right {
    float: right;
    padding-right: 20px;
}
.fluid-left .guide-2 {
    height: 370px;
}
.fluid-left .guide-1, .fluid-left .guide-2 {
    color: black;
    border-top: 1px solid #eee;
}
.fluid-left .guide-2 .item {
    float: left;
    width: 80px;
    height: 90px;
    margin-left: 3px;
    cursor: pointer;
}
.fluid-left .guide-2 .item a {
    text-align: center;
    color: #666;
}
.fluid-left .guide-2 .item img {
    width: 60px;
    height: 60px;
    padding: 10px 10px 0 10px;
}
.fluid-right {
    width: 1060px;
    background-color: white;
    margin-top: 15px;
    float: right;
}
.fluid-right .item {
    height: 144px;
    border-bottom: 1px solid #eee;
}
.fluid-right .item .img-area {
    width: 144px;
    height: 144px;
    float: left;
}
.fluid-right .item .img-area img {
    height: 120px;
    width: 120px;
    padding: 12px;
}
.fluid-right .item .content {
    width: 725px;
    float: left;
    margin: 15px 20px 0 10px;
    border-right: 1px dashed #ddd;
}
.fluid-right .item .content .title {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 12px;
    height: 27px;
}
.fluid-right .item .content .desc {
    font-size: 13px;
    color: #999;
    margin-bottom: 15px;
    overflow: hidden;
    height: 40px;
}
.fluid-right .item .content .shop {
    float: left;
    color: #999;
}
.i_tmall {
    background: url(../../../../picture/platform_tmall.png) center no-repeat;
    background-size: cover;
    margin-right: 5px;
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: top;
}
.i_taobao {
    background: url(../images/platform_taobao.png) center no-repeat;
    background-size: cover;
    margin-right: 5px;
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: top;
}
.fluid-right .item .content .price {
    float: right;
    position: relative;
    padding-right: 20px;
    font-size: 24px;
    color: #FF6434;
    font-weight: bold;
    bottom: 5px;
}
.fluid-right .item .content .price .normal {
    font-size: 13px;
    color: #999;
}
.fluid-right .item .right {
    width: 150px;
    float: left;
    font-size: 30px;
    text-align: center;
}
.btn {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    background-color: #fd6363;
}
.fluid-right .item .right .btn {
    margin-top: 45px;
    background-color: #FF6434;
    width: 130px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    color: white;
    border-radius: 5px;
}
.more-coupon {
    position: relative;
    margin: 30px 0 40px;
}
.more-coupon span {
    display: block;
    width: 260px;
    height: 50px;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.footer {
    position: relative;
}
.footer .footer-top {
    background-color: #434446;
}
.footer .footer-top .yl {
    float: left;
    width: 550px;
    margin: 35px 0 30px 70px;
    border-left: 1px solid #7B7B7D;
}
.footer .footer-top .yl .head {
    font-size: 12px;
    color: #bfbfbf;
    padding-left: 10px;
}
.footer .footer-top .yl .yl-links {
    padding-left: 10px;
}
.footer .footer-top .yl .yl-links a {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #999;
    margin: 12px 8px 0 0;
}
.footer .footer-top .logo-slogan {
    float: right;
    width: 240px;
    height: 90px;
    margin: 35px 70px 30px 0;
}
.footer .footer-top .logo-slogan .qr-code {
    position: relative;
    float: right;
    width: 90px;
    height: 90px;
    margin-left: 12px;
    background-color: #fff;
    border-radius: 2px;
}
.footer .footer-top .logo-slogan .txt {
    float: right;
    height: 90px;
}
.footer .footer-top .logo-slogan .txt .s1 {
    font-size: 14px;
    color: #fff;
    line-height: 14px;
    padding-top: 10px;
    text-align: right;
}
.footer .footer-top .logo-slogan .txt .s2 {
    font-size: 12px;
    color: #fff;
    line-height: 12px;
    padding-top: 10px;
    text-align: right;
}
.footer .footer-bottom {
    height: 40px;
    background-color: #38383A;
}
.footer .footer-bottom p {
    font-size: 12px;
    color: #BFBFBF;
    text-align: center;
    line-height: 40px;
}